<a href="https://colab.research.google.com/github/Bo-Ni/ProtBert_Notebook_set_0/blob/main/translate_NetSurfP_data_set_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import numpy as np
import os
import pandas as pd

In [43]:
# function to extract the amino acids
def read_info_from_sparse_coding(reco_0_v2):
  # print(reco_0_v2[:,50])
  aa_index_list = np.where(reco_0_v2[:,50]==1)[0]
  # print(aa_index_list)
  # n_aa = aa_index_list.shape[0]
  n_aa = np.amax(aa_index_list)+1
  # print(n_aa)
  aa_list = np.zeros(n_aa, dtype=int)
  ss_list = np.zeros(n_aa, dtype=int)
  phi_list = np.zeros(n_aa)
  psi_list = np.zeros(n_aa)
  # print(aa_list)
  for i in range(n_aa):
    i_aa = aa_index_list[i]
    # print(i_aa)
    id = np.where(reco_0_v2[i_aa,0:20]==1)[0]
    if len(id)==1:
      aa_list[i_aa] = id+1
    id = np.where(reco_0_v2[i_aa,57:65]==1)[0]
    if len(id)==1:
      ss_list[i_aa] = id+1
      
    phi_list[i_aa] = reco_0_v2[i_aa,65]
    psi_list[i_aa] = reco_0_v2[i_aa,66]
  # print(aa_list)  
  return n_aa,aa_list,ss_list,phi_list,psi_list

# translate num to code
# n_aa,aa_list,ss_list,phi_list,psi_list
def translate_AA_to_print(aa_list):
  # AA_Dict = np.array(list('ACDEFGHIKLMNPQRSTVWY'))
  # aa_name_list=AA_Dict[aa_list-1]

  # to be save with 0 position problem: mark it as X
  AA_Dict = np.array(list('XACDEFGHIKLMNPQRSTVWY'))
  aa_name_list=AA_Dict[aa_list]
  return aa_name_list

def translate_SS_to_print(ss_list):
  # AA_Dict = np.array(list('ACDEFGHIKLMNPQRSTVWY'))
  # aa_name_list=AA_Dict[aa_list-1]

  # to be save with 0 position problem: mark it as X
  SS_Dict = np.array(list('XGHIBESTC'))
  ss_name_list=SS_Dict[ss_list]
  return ss_name_list

def split_pdb(pdb_reco):
  words = pdb_reco.split('-')
  return words[0],words[1]

In [44]:
# 0. download the files
in_file = 'Train_HHblits.npz'
out_file = 'Train_HHblits_translate_aa_ss_phi_psi.csv'

in_file = 'Train_MMseqs.npz'
out_file = 'Train_MMseqs_translate_aa_ss_phi_psi.csv'
# https://services.healthtech.dtu.dk/services/NetSurfP-3.0/training_data/Train_MMseqs.npz

in_file = 'CB513_HHblits.npz'
out_file = 'CB513_HHblits_translate_aa_ss_phi_psi.csv'
# https://services.healthtech.dtu.dk/services/NetSurfP-3.0/training_data/CB513_HHblits.npz

in_file = 'TS115_HHblits.npz'
out_file = 'TS115_HHblits_translate_aa_ss_phi_psi.csv'
# https://services.healthtech.dtu.dk/services/NetSurfP-3.0/training_data/TS115_HHblits.npz

in_file = 'CASP12_HHblits.npz'
out_file = 'CASP12_HHblits_translate_aa_ss_phi_psi.csv'
# https://services.healthtech.dtu.dk/services/NetSurfP-3.0/training_data/CASP12_HHblits.npz

In [45]:
print(os.popen('wget https://services.healthtech.dtu.dk/services/NetSurfP-3.0/training_data/'+in_file).read())

In [46]:
data_v2 = np.load(in_file,'r')

In [47]:
print(data_v2)

<numpy.lib.npyio.NpzFile object at 0x7f68190ba8d0>

In [48]:
print(len(data_v2['pdbids']))

21

In [49]:
# to make reading faster
a1 = data_v2['pdbids']
a2 = data_v2['data']

# np.savez('test3.npz', a1=a1, a2=a2)
# x = np.load('test3.npz')
# a1 = x['a1']
# a2 = x['a2']

In [50]:
dict_data = {'pdb_id':[],'chain_id':[],'seq':[],'seq_len':[],'ssp':[],'phi':[],'psi':[]}

In [51]:
df = pd.DataFrame(dict_data)

In [52]:
df.head()

Empty DataFrame
Columns: [pdb_id, chain_id, seq, seq_len, ssp, phi, psi]
Index: []

In [53]:
df = pd.DataFrame(dict_data)

for i in range(len(a1)):
  print(i)
# for i in range(2):
  # create one_line
  pdb,pdb_chain = split_pdb(a1[i])
  # print(pdb)
  # print(pdb_chain)
  n_aa,aa_list,ss_list,phi_list,psi_list \
  = read_info_from_sparse_coding(a2[i])
  aa_p = "".join(translate_AA_to_print(aa_list))
  ss_p = "".join(translate_SS_to_print(ss_list))
  phi_p = " ".join(str(x) for x in phi_list)
  psi_p = " ".join(str(x) for x in psi_list)

  one_line = [pdb,pdb_chain,aa_p,n_aa,ss_p,phi_p,psi_p]
  # print(one_line)


  df.loc[i] = one_line

# out_file = 'Train_HHblits_translate_aa_ss_phi_psi.csv'
df.to_csv('./drive/MyDrive/0_data_prepare_results/'+out_file,index=False)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [54]:
# out_file = 'Train_HHblits_translate_aa_ss_phi_psi.csv'
# df.to_csv('./drive/MyDrive/0_data_prepare_results/'+out_file,index=False)

In [55]:
df.head()

,pdb_id,chain_id,seq,seq_len,ssp,phi,psi
0,5a7d,L,SLRFTASTSTPKSGSKIAKRGKKHPEPVASWMSEQRWAGEPEVMCT...,341.0,CCCCCCCCCCCCCCCCCCCCCCCCCCHHHHHHHHGGGCCCCCCCCC...,0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0....,0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0....
1,5aot,A,MGAEEEDTAILYPFTISGNDRNGNFTINFKGTPNSTNNGCIGYSYN...,106.0,CCCCCTTTSEEEEEECCSSCCCSEEEEEEEESTTCEEEEEEEEEET...,0.0 0.0 0.0 0.0 360.0 -59.4 -65.0 -98.1 -96.0 ...,0.0 0.0 0.0 0.0 -70.6 -43.3 -29.3 -10.5 155.1 ...
2,5d9g,A,GHXASGPWKLTASKTHIXKSADVEKLADELHXPSLPEXXFGDNVLR...,246.0,CEEEETTEEEEEECCCCCCHHHHHHHHHHTTCSCCCSEECTTCEEE...,360.0 -125.6 -133.7 -120.4 -158.4 71.2 -82.5 -...,-99.4 131.8 126.3 145.5 92.5 -126.3 -9.7 131.5...
3,5fhy,A,MGHHHHHHGGSENLYFQGNEDILKASATQSAVAGTYQIQVNSLATS...,346.0,CCCCCCCCCCCCCCCCCCCCCCSEEEEESSCCCEEEEEEEEECCBE...,0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0....,0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0....
4,5g5n,A,GLPVPSPPGTLLPGQSPDEAFARNSVVFLVPGAEYNWKNVVIRKPV...,353.0,CCCCCCCCCEECTTSCHHHHHHHCSEEEECTTCEEECSSEEECSCC...,0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 360.0 -101.8 -...,0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.6 138.0 118....